name: Python CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: echo test
        run: |
          echo ${GITHUB_WORKSPACE}
          ls ${GITHUB_WORKSPACE}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Set environment variables
        run: |
          echo "PYTHONPATH=${{ github.workspace }}:${{ github.workspace }}/api/coronavstech" >> $GITHUB_ENV
          echo "DJANGO_SETTINGS_MODULE=coronavstech.settings" >> $GITHUB_ENV

      - name: Run tests
        run: |
          pytest api/coronavstech/companies/tests -s -v --durations=0 --cov=. -m "not skip_in_ci"
